/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}
body {
  line-height: 1;
}
ol,
ul {
  list-style: none;
}
blockquote,
q {
  quotes: none;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
  content: '';
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}
* {
  box-sizing: border-box;
}
html {
  font-size: 62.5%;
}
html,
body {
  font-family: sans-serif;
  color: black;
  scroll-snap-type: y mandatory;
}
@media (max-width: 500px) {
  html,
  body {
    scroll-snap-type: none;
  }
}
h1,
h2,
h3,
h4,
h5 {
  font-family: 'Dancing Script', cursive;
  color: black;
}
h1 {
  font-size: 4rem;
}
h2 {
  font-size: 3.2rem;
}
h3 {
  font-size: 2.8rem;
}
h4 {
  font-size: 2rem;
}
p {
  font-size: 1.8rem;
  line-height: 1.4;
}
a {
  text-decoration: none;
}
hr {
  border-top: 1px solid black;
  margin: 0.5em 0;
}
.home {
  min-height: 100vh;
  min-width: 100vw;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  text-align: center;
  background-color: whitesmoke;
}
@media (max-width: 500px) {
  .home {
    width: 100%;
  }
}
.home h1,
.home h2 {
  padding-bottom: 2rem;
}
.home .header-text {
  width: 70vw;
  height: 90vh;
  text-align: center;
  display: flex;
  justify-content: center;
  flex-direction: column;
}
.home .header-text .text {
  color: black;
  font-size: 4rem;
}
@media (max-width: 500px) {
  .home .header-text .text {
    font-size: 3rem;
  }
}
.home .header-text .text1 {
  font-size: 5rem;
  color: black;
}
@media (max-width: 500px) {
  .home .header-text .text1 {
    font-size: 5rem;
  }
}
.home .header-text .text2 {
  font-size: 5rem;
  color: black;
}
@media (max-width: 500px) {
  .home .header-text .text2 {
    font-size: 5rem;
  }
}
